/* Need this code, cause chartJS v2, inhereted: aspectRatio is NOT working for some reason */
/* canvas{
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
} */

/* #DoughnutChartWithBreakdown.chartjs-render-monitor {
    aspect-ratio: 1;
    width: 100%;
} */

/* #DoughnutChartWithBreakdown.canvas{
    width: 100%;
    aspect-ratio: 1;
} */

/* #yo1.canvas{
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
} */
