.drr {
    border: 5px solid red;
}

.dbb {
    border: 5px solid blue;
}

.dgg {
    border: 5px solid green;
}

.dyy {
    border: 5px solid yellow;
}

.dpp {
    border: 5px solid pink;
}

.dgray {
    border: 5px solid lightgray;
}
